body {
    background: #DCDCDC
}

h1{
    color: #008B8B
}

section{ 
    background: cadetblue;
}

p{
    color: black;
}
section { 
    background: #DCDCDC;}

.navbar {
        padding: 10px;
        background: #DCDCDC;
      }

        .navbar li {
        display: inline-block;
        padding: 20px;
        margin-right: 10px;
        margin-left: 10px;
        cursor: pointer;
        background: #fff;
        border-radius: 3px;
      }
